@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Faster+One&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  background-color: #fff;
  font-family: "Roboto", sans-serif;
  color: #000;
  font-weight: 400;
}

h1,
h2,
h3,
h4 {
  color: #000;
  line-height: 1.2;
  font-weight: 500;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

img {
  max-width: 100%;
  height: auto;
}

p {
  line-height: 3rem;
}

/* Header */
#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 8rem;
  background-color: #e3e6f3;
  z-index: 1000;
  position: sticky;
  top: 0;
  left: 0;
}
#header .logo {
  color: #1a94ff;
  font-size: 3.5rem;
  font-family: "Faster One", cursive;
}
#header div {
  display: flex;
  align-items: center;
  width: 25%;
}
#header div input {
  padding: 0.8rem 2.4rem;
  width: 100%;
  border: none;
  border-radius: 0.4rem;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  font-size: 1.4rem;
}
#header div a {
  padding: 0.65rem;
  background-color: #1a94ff;
  border-radius: 0.4rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  color: #fff;
}
#header .menu-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #1a1a1a;
}
#header .menu-icon i {
  font-size: 3.2rem;
  margin-bottom: 0.6rem;
}
#header .menu-icon span {
  font-size: 1.5rem;
}
#header .menu-icon:hover {
  color: #1a94ff;
}

/* Category Menu */
#category-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1a94ff;
  padding: 1.2rem 8rem 1rem 8rem;
}
#category-menu a {
  color: #fff;
  font-size: 1.6rem;
  text-align: center;
}
#category-menu a:last-child {
  font-size: 1.8rem;
  margin-top: 0.2rem;
}
#category-menu .slick-prev {
  left: 8rem;
  z-index: 3;
}
#category-menu .slick-next {
  right: 8rem;
}

/* Carousel Banners */
#carousel-banners {
  padding: 1.5rem 8rem;
  display: flex;
  gap: 0.5rem;
}
#carousel-banners .slick-dotted.slick-slider {
  margin-bottom: 0;
}
#carousel-banners .carousel-banners-item-1 {
  width: 70%;
  flex-shrink: 0;
}
#carousel-banners .carousel-banners-item-1 .slick-next {
  right: 2rem;
}
#carousel-banners .carousel-banners-item-1 .slick-prev {
  left: 2rem;
  z-index: 3;
}
#carousel-banners .carousel-banners-item-1 .slick-dots {
  bottom: 0.8rem;
}
#carousel-banners .carousel-banners-item-1 .slick-dots li button:before {
  font-size: 1.2rem;
}
#carousel-banners .carousel-banners-item-1 .slick-dots li.slick-active button:before {
  color: #fff;
}
#carousel-banners .carousel-banners-item-1 .slick-dots li button:before {
  color: #fff;
}
#carousel-banners .carousel-banners-item-2 {
  width: 30%;
  flex: 1;
  display: flex;
  flex-wrap: wrap;
}
#carousel-banners .carousel-banners-item-2 img:first-child {
  margin-bottom: 0.5rem;
}

/* Trending Products */
#trending-products {
  margin: 0 8rem;
  border-radius: 1.5rem 1.5rem 0 0;
  background-image: linear-gradient(315deg, #ec9f05 0%, #ff4e00 74%);
}
#trending-products h3 {
  color: #fff;
  font-size: 2.2rem;
  font-weight: 700;
  padding: 1.5rem 1.1rem;
  border-bottom: 0.1rem solid rgba(238, 238, 238, 0.787);
}
#trending-products .trending-products-list {
  padding: 1.2rem 0 3.2rem;
  display: flex;
  justify-content: space-between;
}
#trending-products .trending-products-list .slick-next {
  right: 2rem;
}
#trending-products .trending-products-list .slick-prev {
  left: 2rem;
  z-index: 3;
}
#trending-products .trending-products-list .slick-next:before,
#trending-products .trending-products-list .slick-prev:before {
  color: #1a94ff;
}
#trending-products .trending-products-list .trending-product-item {
  background-color: #fff;
  border-radius: 1rem;
  padding: 1.5rem;
  margin: 0 1rem;
  width: 19%;
  height: 35rem;
  display: flex;
  flex-direction: column;
}

/* Trending Products, Products For You */
.product-image {
  object-fit: cover;
}

.product-name {
  font-size: 1.4rem;
  color: #000;
  overflow: hidden;
  display: -webkit-box;
  height: 3.2rem;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.product-price-wrapper {
  display: flex;
  justify-content: space-between;
}
.product-price-wrapper svg {
  margin-top: 0.23rem;
}

.product-price-initial {
  display: flex;
  align-items: center;
}
.product-price-initial p {
  color: #82869e;
  font-size: 1.4rem;
  text-decoration-line: line-through;
  margin-right: 1rem;
}
.product-price-initial p span {
  text-decoration-line: underline;
}
.product-price-initial .sale-off {
  color: #1a94ff;
  font-size: 1.4rem;
}

.product-price {
  color: #1a94ff;
  font-size: 1.7rem;
  font-weight: 700;
}
.product-price span {
  text-decoration-line: underline;
}

/* Products For You */
#products-for-you {
  margin: 1.5rem 8rem;
  border-radius: 1.5rem 1.5rem 0 0;
  background-color: #f4f4f4;
}
#products-for-you h3 {
  color: #000;
  font-size: 2.2rem;
  font-weight: 700;
  padding: 1.5rem 1.1rem;
  border-bottom: 0.1rem solid #1a94ff;
}
#products-for-you .products-for-you-list {
  padding: 1.2rem 0 1.2rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#products-for-you .products-for-you-list .product-for-you-item {
  background-color: #fff;
  border-radius: 1rem;
  padding: 1.2rem;
  margin: 0 1rem 2rem 1rem;
  width: 15%;
  height: 32rem;
  display: flex;
  flex-direction: column;
}
#products-for-you .products-for-you-list .product-for-you-item .product-star {
  font-size: 1.4rem;
  padding-top: 0.5rem;
  color: #eee;
}
#products-for-you .products-for-you-list .product-for-you-item .product-star i:first-child {
  color: #f3b519;
}

/* Pagination */
#pagination {
  padding: 1.5rem 8rem 3rem 8rem;
  text-align: center;
}
#pagination a {
  text-decoration: none;
  background-color: #fff;
  padding: 0.8rem 1.5rem;
  color: #000;
  cursor: pointer;
  font-weight: 500;
  border-radius: 0.4rem;
  border: 0.1rem solid #e4e5f0;
}
#pagination a:hover {
  background-color: #eee;
}
#pagination a i {
  font-size: 1.4rem;
  font-weight: 600;
}
#pagination .ellipsis {
  border: none;
}
#pagination .ellipsis:hover {
  cursor: default;
  background-color: #fff;
}
#pagination .active {
  background-color: #1a94ff;
  color: #fff;
}
#pagination .active:hover {
  background-color: #1a94ff;
  color: #fff;
  cursor: default;
}

/* Footer */
footer {
  border-top: 0.3rem solid #1a94ff;
  padding: 1.5rem 8rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
footer .col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 2rem;
}
footer .col h4 {
  font-size: 1.4rem;
  padding-bottom: 2rem;
}
footer .col .certification {
  margin-top: 2.5rem;
}
footer .col .certification img {
  max-width: 16rem;
  margin: -1rem 0 0 -0.6rem;
}
footer .col .payment-icon {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
footer .col .payment-icon i {
  font-size: 2.5rem;
}
footer .col .payment-icon span {
  font-size: 1.3rem;
  margin-left: 0.6rem;
}
footer .col .payment-icon:hover {
  color: #1a94ff;
}
footer p {
  font-size: 1.3rem;
  margin: 0 0 0.8rem 0;
}
footer a {
  text-decoration: none;
  color: #222;
  font-size: 1.3rem;
  margin-bottom: 1rem;
}
footer a:hover {
  color: #1a94ff;
}
footer .copyright {
  text-align: center;
  width: 100%;
}

/*# sourceMappingURL=index.css.map */
