@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Faster+One&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  background-color: #fff;
  font-family: "Roboto", sans-serif;
  color: #000;
  font-weight: 400;
}

.section-p1 {
  padding: 4rem 8rem;
}

.section-m1 {
  margin: 4rem 0;
}

h1,
h2,
h3,
h4 {
  color: #000;
  line-height: 1.2;
  font-weight: 500;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

img {
  max-width: 100%;
  height: auto;
}

p {
  line-height: 3rem;
}

/* Header */
#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 8rem;
  background-color: #e3e6f3;
  z-index: 1000;
  position: sticky;
  top: 0;
  left: 0;
}
#header .logo {
  color: #1a94ff;
  font-size: 3.5rem;
  font-family: "Faster One", cursive;
}
#header div {
  display: flex;
  align-items: center;
  width: 25%;
}
#header div input {
  padding: 0.8rem 2.4rem;
  width: 100%;
  border: none;
  border-radius: 0.4rem;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  font-size: 1.4rem;
}
#header div a {
  padding: 0.65rem;
  background-color: #1a94ff;
  border-radius: 0.4rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  color: #fff;
}
#header .menu-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #1a1a1a;
}
#header .menu-icon i {
  font-size: 3.2rem;
  margin-bottom: 0.6rem;
}
#header .menu-icon span {
  font-size: 1.5rem;
}
#header .menu-icon:hover {
  color: #1a94ff;
}

/* Category Menu */
#category-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1a94ff;
  padding: 1.2rem 8rem 1rem 8rem;
}
#category-menu a {
  color: #fff;
  font-size: 1.6rem;
  text-align: center;
}
#category-menu a:last-child {
  font-size: 1.8rem;
  margin-top: 0.2rem;
}
#category-menu .slick-prev {
  left: 8rem;
  z-index: 3;
}
#category-menu .slick-next {
  right: 8rem;
}

/* Carousel Banners */
#carousel-banners {
  padding: 1.5rem 8rem;
  display: flex;
  gap: 0.5rem;
}
#carousel-banners .carousel-banners-item-1 {
  width: 70%;
  flex-shrink: 0;
}
#carousel-banners .carousel-banners-item-1 .slick-next {
  right: 2rem;
}
#carousel-banners .carousel-banners-item-1 .slick-prev {
  left: 2rem;
  z-index: 3;
}
#carousel-banners .carousel-banners-item-1 .slick-dots {
  bottom: 0.8rem;
}
#carousel-banners .carousel-banners-item-1 .slick-dots li button:before {
  font-size: 1.2rem;
}
#carousel-banners .carousel-banners-item-1 .slick-dots li.slick-active button:before {
  color: #fff;
}
#carousel-banners .carousel-banners-item-1 .slick-dots li button:before {
  color: #fff;
}
#carousel-banners .carousel-banners-item-2 {
  width: 30%;
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 3rem;
}
#carousel-banners .carousel-banners-item-2 img:first-child {
  margin-bottom: 0.5rem;
}

/* Trending products */

/*# sourceMappingURL=index.css.map */
