@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Faster+One&display=swap');

$black: #000;
$white: #fff;
$green: #1a94ff;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  background-color: $white;
  font-family: 'Roboto', sans-serif;
  color: $black;
  font-weight: 400;
}

h1,
h2,
h3,
h4 {
  color: $black;
  line-height: 1.2;
  font-weight: 500;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

img {
  max-width: 100%;
  height: auto;
}

p {
  line-height: 3rem;
}

/* Header */
#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 8rem;
  background-color: #e3e6f3;
  z-index: 1000;
  position: sticky;
  top: 0;
  left: 0;

  .logo {
    color: $green;
    font-size: 3.5rem;
    font-family: 'Faster One', cursive;
  }

  div {
    display: flex;
    align-items: center;
    width: 25%;

    input {
      padding: 0.8rem 2.4rem;
      width: 100%;
      border: none;
      border-radius: 0.4rem;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      font-size: 1.4rem;
    }

    a {
      padding: 0.65rem;
      background-color: $green;
      border-radius: 0.4rem;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      color: $white;
    }
  }

  .menu-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #1a1a1a;

    i {
      font-size: 3.2rem;
      margin-bottom: 0.6rem;
    }

    span {
      font-size: 1.5rem;
    }
    &:hover {
      color: $green;
    }
  }
}

/* Category Menu */
#category-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $green;
  padding: 1.2rem 8rem 1rem 8rem;

  a {
    color: $white;
    font-size: 1.6rem;
    text-align: center;

    &:last-child {
      font-size: 1.8rem;
      margin-top: 0.2rem;
    }
  }

  .slick-prev {
    left: 8rem;
    z-index: 3;
  }

  .slick-next {
    right: 8rem;
  }
}

/* Carousel Banners */
#carousel-banners {
  padding: 1.5rem 8rem;
  display: flex;
  gap: 0.5rem;

  .slick-dotted.slick-slider {
    margin-bottom: 0;
  }

  .carousel-banners-item-1 {
    width: 70%;
    flex-shrink: 0;

    .slick-next {
      right: 2rem;
    }

    .slick-prev {
      left: 2rem;
      z-index: 3;
    }

    .slick-dots {
      bottom: 0.8rem;
    }

    .slick-dots li button:before {
      font-size: 1.2rem;
    }

    .slick-dots li.slick-active button:before {
      color: $white;
    }

    .slick-dots li button:before {
      color: $white;
    }
  }

  .carousel-banners-item-2 {
    width: 30%;
    flex: 1;
    display: flex;
    flex-wrap: wrap;

    img:first-child {
      margin-bottom: 0.5rem;
    }
  }
}

/* Trending Products */
#trending-products {
  margin: 0 8rem;
  border-radius: 1.5rem 1.5rem 0 0;
  background-image: linear-gradient(315deg, #ec9f05 0%, #ff4e00 74%);

  h3 {
    color: $white;
    font-size: 2.2rem;
    font-weight: 700;
    padding: 1.5rem 1.1rem;
    border-bottom: 0.1rem solid rgba(238, 238, 238, 0.787);
  }

  .trending-products-list {
    padding: 1.2rem 0 3.2rem;
    display: flex;
    justify-content: space-between;

    .slick-next {
      right: 2rem;
    }

    .slick-prev {
      left: 2rem;
      z-index: 3;
    }

    .slick-next:before,
    .slick-prev:before {
      color: $green;
    }

    .trending-product-item {
      background-color: $white;
      border-radius: 1rem;
      padding: 1.5rem;
      margin: 0 1rem;
      width: 19%;
      height: 35rem;
      display: flex;
      flex-direction: column;
    }
  }
}

/* Trending Products, Products For You */
.product-image {
  object-fit: cover;
}

.product-name {
  font-size: 1.4rem;
  color: $black;
  overflow: hidden;
  display: -webkit-box;
  height: 3.2rem;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.product-price-wrapper {
  display: flex;
  justify-content: space-between;

  svg {
    margin-top: 0.23rem;
  }
}

.product-price-initial {
  display: flex;
  align-items: center;

  p {
    color: #82869e;
    font-size: 1.4rem;
    text-decoration-line: line-through;
    margin-right: 1rem;

    span {
      text-decoration-line: underline;
    }
  }

  .sale-off {
    color: $green;
    font-size: 1.4rem;
  }
}

.product-price {
  color: $green;
  font-size: 1.7rem;
  font-weight: 700;

  span {
    text-decoration-line: underline;
  }
}

/* Products For You */
#products-for-you {
  margin: 1.5rem 8rem;
  border-radius: 1.5rem 1.5rem 0 0;
  background-color: #f4f4f4;

  h3 {
    color: $black;
    font-size: 2.2rem;
    font-weight: 700;
    padding: 1.5rem 1.1rem;
    border-bottom: 0.1rem solid $green;
  }

  .products-for-you-list {
    padding: 1.2rem 0 1.2rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .product-for-you-item {
      background-color: $white;
      border-radius: 1rem;
      padding: 1.2rem;
      margin: 0 1rem 2rem 1rem;
      width: 15%;
      height: 32rem;
      display: flex;
      flex-direction: column;

      .product-star {
        font-size: 1.4rem;
        padding-top: 0.5rem;
        color: #eee;

        i:first-child {
          color: rgb(243, 181, 25);
        }
      }
    }
  }
}

/* Pagination */
#pagination {
  padding: 1.5rem 8rem 3rem 8rem;
  text-align: center;

  a {
    text-decoration: none;
    background-color: $white;
    padding: 0.8rem 1.5rem;
    color: $black;
    cursor: pointer;
    font-weight: 500;
    border-radius: 0.4rem;
    border: 0.1rem solid rgb(228, 229, 240);

    &:hover {
      background-color: #eee;
    }

    i {
      font-size: 1.4rem;
      font-weight: 600;
    }
  }

  .ellipsis {
    border: none;

    &:hover {
      cursor: default;
      background-color: $white;
    }
  }

  .active {
    background-color: $green;
    color: $white;

    &:hover {
      background-color: $green;
      color: $white;
      cursor: default;
    }
  }
}

/* Footer */
footer {
  border-top: 0.3rem solid $green;
  padding: 1.5rem 8rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 2rem;

    h4 {
      font-size: 1.4rem;
      padding-bottom: 2rem;
    }

    .certification {
      margin-top: 2.5rem;

      img {
        max-width: 16rem;
        margin: -1rem 0 0 -0.6rem;
      }
    }
    .payment-icon {
      display: flex;
      align-items: center;
      margin-bottom: 1rem;

      i {
        font-size: 2.5rem;
      }

      span {
        font-size: 1.3rem;
        margin-left: 0.6rem;
      }

      &:hover {
        color: $green;
      }
    }
  }

  p {
    font-size: 1.3rem;
    margin: 0 0 0.8rem 0;
  }

  a {
    text-decoration: none;
    color: #222;
    font-size: 1.3rem;
    margin-bottom: 1rem;

    &:hover {
      color: $green;
    }
  }

  .copyright {
    text-align: center;
    width: 100%;
  }
}